@import '../../css/index.scss';
@import '../../css/variables.scss';

.secret-sauce-section {
  @extend %one-line-block;
  padding: $one-line-padding-space;
}

.secret-sauce-header-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  h3 {
    font-weight: 400;
    width: 100%;
  }
  button {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $extra-small-space;
    background: $primary-gradient;
    border-radius: $one-line-border-radius;
    box-shadow: $external-shadow;
  }
  img {
    width: $big-text;
    &.up-btn {
      transform: rotate(180deg);
    }
  }
}

.secret-sauce-display-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: $small-space 0;
  h2 {
    width: 80%;
    box-shadow: $inner-shadow;
    padding: $small-space;
    border-radius: $one-line-border-radius;
  }
  img {
    width: $big-text;
    margin-left: $small-space;
    opacity: 0.4;
    @extend %hover-transform;
  }
}
