@import "../../css/variables.scss";

.round-one-board {
  padding: $small-space;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  height: 100vh;
  overflow: hidden;
  footer {
    align-self: end;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
