@import '../../css/variables.scss';
@import '../../css/index.scss';

.brainstorm-form {
  width: 27vw;
  height: fit-content;
  margin: $medium-space;
  padding-top: $large-space;
  background: $primary-gradient;
  border-radius: $big-blocks-border-radius;
  box-shadow: $external-shadow;
  padding-bottom: $large-space;
}

.brainstorm-div {
  padding: $medium-space;
  text-align: left;
  label {
    margin-left: -.25vw;
  }
  textarea {
    resize: none;
    padding: 1rem;
  }
}

.brainstorm-label {
  font-size: 1.25rem;
  padding-left: .5rem;
  padding-bottom: 2rem;
}

.brainstorm-summary-textarea {
  width: 100%;
  padding: $large-space;
  height: 10vh;
  @extend %regular-input;
  border-radius: 1rem 1rem 1rem 1rem;
}

.brainstorm-form-menu {
  @extend %regular-input;
  border-radius: 12px 12px;
  display: flex;
  height: 7vh;
  width: 85%;
  margin-top: 3vh;
  margin-left: 2vw;
  justify-content: center;
  align-items: center;
}

.cancel-btn {
  @extend %regular-btn;
  background: $error-color;
  font-weight: bold;
  &:hover {
    background: $darken-error-color;
  }
  margin-left: -.05rem;
}

.broom {
  width: 2.5vw;
  height: 4.25vh;
  padding: .5rem;
  border-radius: $round-border-radius;
  @extend %regular-btn;
  cursor: pointer;
  margin-left: -.15rem;
}

.start-btn {
  @extend %regular-btn;
  margin-left: -.25vw;
}