@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700|Varela&display=swap');
@import "./variables.scss";

body {
  background-color: lighten($primary-bg-color, 0.5%);
  * {
    font-family: $base-font;
    color: $dark-font-color;
  }
}

h1 {
  font-family: $logo-font;
  font-size: $logo-text;
  letter-spacing: 0.5em;
  text-align: right;
  text-transform: uppercase;
  text-shadow: $logo-shadow;
  width: 100%;
}

h2 {
  font-size: $big-text;
  font-weight: 700;
}

h3 {
  font-size: $medium-text;
  text-transform: uppercase;
  font-weight: 500;
}

label {
  text-align: left;
  text-transform: uppercase;
  font-size: $small-text;
  margin: $extra-small-space + $tiny-space;
}

%buttons {
  border-radius: $round-border-radius;
  box-shadow: $external-shadow;
  font-weight: 700;
  text-transform: lowercase;
  padding: $button-padding-space;
  &:disabled {
    box-shadow: $inner-shadow;
    &:hover {
      background: $primary-gradient;
      border: 1px solid transparent;
      box-shadow: $inner-shadow;
    }
  }
}

%regular-btn {
  @extend %buttons;
  background: $primary-gradient;
  border: $light-border;
  margin: $small-space auto;
  &:focus {
    box-shadow: $external-shadow, $regular-focus-shadow;
  }
  &:hover {
    background: $hover-btn-gradient;
    border: 1px solid transparent;
    box-shadow: $external-shadow, $regular-focus-shadow;
  }
  &:active {
    box-shadow: $regular-btn-active-shadow;
  }
}

%regular-input {
  border-radius: $round-border-radius;
  box-shadow: $inner-shadow;
  margin-top: $extra-small-space;
  padding: $input-padding-space;
  width: 100%;
  &:focus {
    box-shadow: $inner-shadow, $regular-input-focus-shadow;
  }
}

%initial-form {
  width: 30vw;
  margin: auto;
  header {
    display: flex;
    h2 {
      padding: $one-line-padding-space;
    }
  }
  form {
    background: $primary-bg-color;
    box-shadow: $external-shadow;
    border-radius: 0 1rem 1rem 1rem;
    width: 100%; height: 100%;
    padding: $big-block-padding-space;
    position: relative;
    z-index: 20;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    input {
      @extend %regular-input;
    }
    button {
      @extend %regular-btn;
    }
  }
  .active {
    background: $primary-gradient;
    box-shadow: $external-shadow;
    border-radius: 1rem 1rem 0 0;
    width: fit-content;
    &::after {
      content: "";
      background-color: transparent;
      display: block;
      width: 0.3rem; height: 0.4rem;
    }
  }
  .hidden {
    cursor: pointer;
    opacity: 0.4;
    &:hover { opacity: 1; }
    &:active::after {
      content: "";
      background-color: $dark-font-color;
      display: block;
      width: 0.15rem; height: 0.15rem;
      margin-top: 0.15rem;
      border-radius: $round-border-radius;
      animation: moving 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
}

.error-notification {
  background: $error-gradient;
  border-radius: $one-line-border-radius;
  box-shadow: $external-shadow;
  color: $primary-bg-color;
  font-weight: 500;
  text-align: center;
  position: relative;
  padding: $one-line-padding-space;
  margin-bottom: $extra-small-space;
}

@keyframes moving {
  0% { width: 0.1rem; }
  100% { width: 5rem; }
}
