@import '../../css/variables.scss';
@import '../../css/index.scss';

.round-two-main {
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    p {
      width: fit-content;
    }
  }
}

.round-two-section {
  display: flex;
}

.instructions-div-wrapper {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-numbers-div {
  display: flex;
  justify-content: center;
    h2 {  
      @extend %buttons;
      border-radius: $one-line-border-radius;
      padding: $one-line-padding-space;
      margin: $extra-small-space;
    }
    margin: $medium-space;
}

h2.current-round {
  background: $genius-gradient-mirror;
}

h2.completed-round {
  box-shadow: $inner-shadow;
}

.template-question-section-wrapper {
  .current-question {
    background-color: $genius-color;
    background-image: $genius-gradient;
  }
}

.template-question-div-wrapper {
  margin: $medium-space;
}

.responses-div {
  width: 100%;
  margin-top: $small-space;
  box-shadow: $external-shadow;
  border-radius: $big-blocks-border-radius;
  padding: $medium-space;
}

.responses-input-div {
  input {
    @extend %regular-input;
    width: 80%;
  }
  img {
    width: 1.5rem;
    margin-left: .5rem;
    margin-bottom: -.2rem;
    &:hover {
      cursor:pointer;
    }
  }
}
