@import '../../css/variables.scss';
@import '../../css/index.scss';

.round-two-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  header {
    width: 100%;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    p {
      width: fit-content;
    }
  }
}

.question-numbers-div {
  display: flex;
  justify-content: center;
    h2 {
      @extend %buttons;
      border-radius: $one-line-border-radius;
      padding: $one-line-padding-space;
      margin: $extra-small-space;
    }
    margin: $medium-space;
}

h2.current-round {
  background: $genius-gradient-mirror;
}

h2.completed-round {
  box-shadow: $inner-shadow;
}

.template-question-section-wrapper {
  background: $primary-gradient;
  .current-question {
    background-color: $genius-color;
    background-image: $genius-gradient;
  }
}

.responses-section {
  margin-top: $small-space;
  background: $primary-gradient;
  box-shadow: $external-shadow;
  border-radius: $big-blocks-border-radius;
  padding: $medium-space;
  header {
    @extend %one-line-block;
    padding: $one-line-padding-space;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      @extend %regular-input;
      width: 80%;
      margin: 0;
    }
    img {
      width: $medium-text;
      margin-left: $small-space;
      @extend %hover-transform;
    }
  }
}

.responses-div {
  height: 34vh;
  overflow: scroll;
}
