@import '../../css/index.scss';
@import '../../css/variables.scss';

.user-profile-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary-gradient;
  border-radius: $one-line-border-radius;
  box-shadow: $external-shadow;
  padding: $one-line-padding-space;
  margin: $small-space 0;
  width: 100%;
  position: relative;
  h2 {
    width: 100%;
    text-align: left;
    margin-left: $small-space;
  }
  img {
    width: $medium-text;
    &.profile-pic {
      width: $large-text;
      border-radius: $round-border-radius;
      padding: $tiny-space;
      box-shadow: $inner-shadow;
    }
  }
  &>section {
    background: $primary-gradient;
    box-shadow: $external-shadow;
    border-radius: $one-line-border-radius;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: absolute;
    right: $small-space;
    padding: $small-space;
    img {
      cursor: pointer;
      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.8);
      }
    }
    .close {
      opacity: 0.4;
      margin-left: $medium-space;
    }
  }
}

.menu-svg {
  width: 1rem;
  &:hover {
    cursor:pointer;
  }
}
